App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata
node_modules/
.next/
.vercel/
.env.local
.env
*.tsbuildinfo

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml
